#######################################
# Artifacts
#######################################
build/

#######################################
# Cache
#######################################
build-cache
.eslintcache

#######################################
# Debug Logs
#######################################
npm-debug.log*

#######################################
# Dependencies
#######################################
node_modules/

#######################################
# Miscellaneous
#######################################
.DS_Store

#######################################
# Test Reports
#######################################
coverage/

#######################################
# VS Code
#######################################
.vscode-server/
.vscode/